@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Oxygen');
@import url('https://fonts.googleapis.com/css?family=Quicksand');
body{
	margin: 0;
	padding: 0;
	background: #000000;
	background-size: cover;
	background-attachment: fixed;
	background-color: #000000;
	height: 100%;
	width: 100%;
	color: white;
}

.background {
	min-width: 30%; 
	min-height: 30%;
	width: 100%; 
	height: 100%;
	position: fixed;
	right: 0; 
	bottom: 0;
}

.landing {
	height: 100%;
	width:100%;
	margin: auto;
	display: table;
	top: 0;
	background-size: cover;
}
.landing .stepone{
	display:table-cell;
	vertical-align: middle;
	width: 100%;
	max-width: none;
}
.element {
	max-width: 500px
	margin: 0 auto;
	text-align: center;
}
.element h1{
	font-family: 'Raleway', sans-serif;
	color: white;
	font-size: 500%
}
.element h2{
	font-family: 'Raleway', sans-serif;
	color: white;
	font-size: 500%
}
.element h3{
	font-family: 'Raleway', sans-serif;
	color: white;
	font-size: 300%
}
.element h4{
	font-family: 'Raleway', sans-serif;
	color: white;
	font-size: 200%
}
.element p{
	font-family: 'Raleway', sans-serif;
	color: white;
	font-size: 200%;
	text-align: left;
	padding-left: 25%;
	padding-right: 25%;
}
.statement p{
	font-family: 'Raleway', sans-serif;
	color: #BE5E00;
	font-size: 100%;
	text-align: left;
	padding-left: 25%;
	padding-right: 25%;
}
.myimage {
	width: auto;
	height: auto;
	max-width: 40%;
}
.resume {
	width: 70%;
	height: auto;
	min-width: 400px;
}
a:link, a:visited {
	font-family: 'Quicksand', sans-serif;
    text-decoration: none;
	color: white;
	background-color: #191919;
	padding: 14px 25px;
    text-align: center;
}
a:hover, a:active {
	background-color: #2F2F2F;
}

.image-slider {
	position:relative;
	display: inline-block;
	line-height: 0;
}
.image-slider img {
	user-select: none;
	max-width: 400px;
}
.image-slider > div {
	position: absolute;
	top: 0; bottom: 50%; left: 0;
	width: 50px;
	max-width: 100%;
	overflow: hidden;
	resize: horizontal;
}
.image-slider > div:before {
	content: '';
	display: block;
	width: 13px; 
	height: 13px;
	overflow: hidden;
	position: absolute;
	resize: horizontal;
	right: 3px; bottom: 3px;
	background-clip: content-box;
	background: linear-gradient(-45deg, black 50%, transparent 0);
	-webkit-filter: drop-shadow(0 0 2px black);
	filter: drop-shadow(0 0 2px black);
}